#fifty-shades {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.overlay {
  color: whitesmoke;
  font-family: "Didot", serif;
  font-size: 8vw;
  line-height: 90vh;
  position: fixed;
  text-align: center;
  width: 100%;
}

.shade {
  flex: 1 1 20%;
}
